.control-help-trigger {
  display: inline-block;
  cursor: pointer;
}

.control-help-message {
  position: static;
  overflow: hidden;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
  background-color: #444;
  transition: height 0.5s, margin-top 0.75s;
}

.control-help-message--offset-tip {
  margin-top: 11px;
}

.control-help-message.is-closed {
  height: 0;
  margin-top: 0;
}

.control-help-message .tip--direction-up {
  margin-top: 3px;
  border-left-width: 8px;
  border-right-width: 8px;
  border-bottom-width: 8px;
  border-bottom-color: #444;
}

.control-help-message p {
  margin: 0;
  padding: 10px;
}
